In [1]:
import sys
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = (SparkSession.builder.appName("ejercicio2").getOrCreate())

leer el csv

In [3]:
csv_file = "gs://bosonit_spark/archivos/mnm_dataset.csv"

In [4]:
df = (spark.read.format("csv")
      .option("inferSchema", "true")
      .option("header", "true")
      .load(csv_file))

Otras operaciones de agregación como el Max con otro tipo de ordenamiento (descendiente).

In [5]:
(df.select("*").orderBy("Count", ascending=False)).show()

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   CA| Brown|  100|
|   WY| Green|  100|
|   NV|   Red|  100|
|   TX|   Red|  100|
|   CA|   Red|  100|
|   UT|   Red|  100|
|   WY|  Blue|  100|
|   UT|Yellow|  100|
|   AZ|Orange|  100|
|   CO|   Red|  100|
|   TX|Yellow|  100|
|   CO| Green|  100|
|   NV|   Red|  100|
|   CA| Brown|  100|
|   UT|Yellow|  100|
|   CA|   Red|  100|
|   NM| Green|  100|
|   NV|   Red|  100|
|   WA| Brown|  100|
|   NM|Orange|  100|
+-----+------+-----+
only showing top 20 rows

In [55]:
count_mnm_df.show(n=20, truncate=False)
print("Total Rows = %d" % (count_mnm_df.count()))

+-----+------+----------+
|State|Color |max(Count)|
+-----+------+----------+
|WY   |Green |100       |
|NV   |Red   |100       |
|UT   |Blue  |100       |
|WA   |Orange|100       |
|NM   |Green |100       |
|CA   |Blue  |100       |
|WA   |Red   |100       |
|NV   |Brown |100       |
|AZ   |Green |100       |
|CA   |Red   |100       |
|AZ   |Orange|100       |
|CO   |Blue  |100       |
|NM   |Orange|100       |
|NM   |Yellow|100       |
|WY   |Orange|100       |
|UT   |Yellow|100       |
|WY   |Red   |100       |
|OR   |Blue  |100       |
|NV   |Orange|100       |
|AZ   |Yellow|100       |
+-----+------+----------+
only showing top 20 rows

Total Rows = 60

hacer un ejercicio como el “where” de CA que aparece en el libro pero indicando más opciones de estados (p.e. NV, TX, CA, CO).

In [63]:
ca_count_mnm_df = (df.select("*")
                       .where((df.State == 'CA') | (df.State == 'NV') | (df.State == 'TX') | (df.State == 'CA') | (df.State == 'CO') )
                       .groupBy("State", "Color")
                       .sum("Count")
                       .orderBy("sum(Count)", ascending=False))

In [64]:
ca_count_mnm_df.show(n=10, truncate=False)

+-----+------+----------+
|State|Color |sum(Count)|
+-----+------+----------+
|CA   |Yellow|100956    |
|CA   |Brown |95762     |
|TX   |Green |95753     |
|TX   |Red   |95404     |
|CO   |Yellow|95038     |
|NV   |Orange|93929     |
|TX   |Yellow|93819     |
|CO   |Green |93724     |
|CO   |Brown |93692     |
|CA   |Green |93505     |
+-----+------+----------+
only showing top 10 rows

Hacer un ejercicio donde se calculen en una misma operación el Max, Min, Avg, Count. Revisar el API (documentación) donde encontrarán este ejemplo

In [100]:
operations_df = df.select(F.count(df.Count).alias("count"), F.avg(df.Count).alias("promedio"), F.min(df.Count).alias("minimo"), F.max(df.Count).alias("maximo"))

In [97]:
operations_df.show()

+-----+-----------------+------+------+
|count|         promedio|minimo|maximo|
+-----+-----------------+------+------+
|99999|55.00090000900009|    10|   100|
+-----+-----------------+------+------+

Hacer también ejercicios en SQL creando tmpView

In [96]:
operations_df.createOrReplaceTempView("calculos_tabla")